:root {
  --very-light-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue: hsl(234, 14%, 74%);
  --grayish-blue: hsl(233, 13%, 49%);
  --dark-grayish-blue: hsl(232, 13%, 33%);
  --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
}

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
  background-position: bottom left, top right;
  background-repeat: no-repeat, no-repeat;
  background-color: var(--very-light-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

#pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.top-heading {
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}

.inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: none;
}

.card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 0 15px;
  background-color: white;
  width: 300px;
  height: 400px;
  margin-bottom: 2px;
  border-radius: 7px;
}
.inner-heading{
  margin-top: 10px;
  padding-bottom: 0px;
}

.content {
  border-bottom: 1px solid var(--light-grayish-blue);
  padding-bottom: 20px;
}

.btn{
  padding: 10px;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  color: var(--very-light-grayish-blue);
  
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}


.btn:hover {
  background-color: white;
  background-image: none;
  color: hsl(237, 63%, 64%);
  cursor: pointer;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doller {
  padding-right: 3px;
  font-size: 1.5em;
}
.amount {
  font-size: 4em;
}


.card:hover {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  
  transform: scale(1.1);
}
.card:hover > .btn {
  color: hsl(237, 63%, 64%);
  background-image: none;
  background-color: white;
  cursor: pointer;
}
